.contact-container {
	line-height: 1.2;
	margin: -10px auto 15px auto;

	@include bp(mobile) {
		width: 200px;
	}

	h1	{
		color: $white;
		font-family: $body-font;
		font-size: 1rem;
		text-align: center;
		text-transform: uppercase;
	}
}

.contact-icon {
	width: 57px;
}

#email-icon {
	margin-top: -5px;
	width: 63px;
}

#github-icon {
	margin-top: -1px;
	width: 57px;
}

#linkedin-icon {
	width: 65px;
}

#twitter-icon {
	border-radius: 10%;
}

.contact-link a {
	:hover {
		transform: scale(1.2, 1.2);
		transition: 0.2s ease;
	}
}

.contact-methods{
	margin: 0 auto;
	padding-left: 0;
	
	@include bp(mobile) {
		padding-left: 0;
	}
}

.contact-methods li {
	cursor: pointer;
	font-size: 2rem;
	padding: 0 10px;

	@include bp(mobile) {
		margin-left: 0;
		padding: 0 5px;
	}
}