.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background: $black;
    position: relative;
  
    .footer-text {
      font-size: 0.5rem;
      font-weight: bold;
      padding: 5px;
    }

    .built {
      color: #ADFF2F
    }

    .drawing-credit:hover {
      text-decoration: underline;
    }
}