.visually-hidden:not(:focus):not(:active) {
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-link {
  background: white;
  color: black;
  left: -1000px;
  position: absolute;
  top: 5px;
  z-index: 999;
}

.skip-link:focus {
  left: 0;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
  line-height: 1.2;
  // height: 100%;
}

body {
  font-family: $body-font2;
  color: $ghostwhite;
  background: #333;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}


a {
  color: $ghostwhite;
  text-decoration: none;
  cursor: pointer;
}

p {
  font-family: $body-font;
  letter-spacing: 1px;
}

.container { 
	height: 100%; 
}




