.visually-hidden:not(:focus):not(:active) {
    width: 1px;
    height: 1px;
    position: absolute;
    border: 0;
    padding: 0;
    margin: -1px;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

html {
  font-size: 125%;
  line-height: 1.2;
}

body {
  font-family: $body-font;
  font-size: 1rem;
  letter-spacing: 2px;
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}


a {
  color: white;
  text-decoration: none;
}

p {
  letter-spacing: 1px;
  font-family: $body-font;
}

.inner-wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0;
}

.reorder {
  position: relative;
  display: inline-block;
}

