.bl-main a {
	color: #f0f0f0;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 0 5px;
	text-transform: uppercase;
	font-size: 80%;
}

.bl-main a:hover {
	color: #fff;
}

.bl-main {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bl-main {
	section {
		position: absolute;
		width: 50%;
		height: 50%;
	}
} 

.bl-main > section:first-child {
	top: 0;
	left: 0;
	background: $color1;
}

.bl-main > section:nth-child(2) {
	top: 0;
	left: 50%;
	background: $color2;
}

.bl-main > section:nth-child(3) {
	top: 50%;
	left: 0;
	background: $color3;
}

.bl-main > section:nth-child(4) {
	top: 50%;
	left: 50%;
	background: $color4;
}

.bl-box {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	top: 9%;
	opacity: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.img {
	position: absolute;
}

.beard-img {
	top: 10px;
	width: 180px;

		@include bp(sm-mobile) {
			top: 15px;
			width: 160px;
	}
}

.port-code-img {
	top: 40px;
	width: 120px;

		@include bp(sm-mobile) {
			top: 40px;
			width: 110px;
	}
}

.skills-img {
	top: 5px;
	width: 150px;

		@include bp(sm-mobile) {
			top: 25px;
			width: 110px;
	}
}

.blog-img {
	top: 20px;
	width: 120px;

	@include bp(sm-mobile) {
		top: 30px;
		width: 100px;
	}
}

.bl-box h2 {
	text-align: center;
	margin: 0;
	padding: 20px;
	width: 100%;
	font-size: 1.8em;
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;

	@include bp(sm-mobile) {
		font-size: 1em;
	}
}

.bl-icon {
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
}

.bl-icon:before {
	display: block;
	font-size: 2em;
	margin-bottom: 10px;
}

.bl-main > section .bl-icon-close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
}

.bl-content, 
div.bl-panel-items > div > div {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 60px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	padding: 0 20px;
	overflow: hidden;
	overflow-y: auto;
	
}

/* Generic Content Styling */

.bl-content {
	p {
		margin: 0 auto;
		padding-bottom: 55px;
		font-size: 1.5em;
		line-height: 1.8;
		font-family: $body-font2;
	}

	h2 {
		text-transform: uppercase;
		font-size: 3em;
		font-weight: 300;
		margin: 0 0 20px 0;
	}

	article {
		padding: 20px 40px 20px 0px;
	}

	article h3 {
		font-weight: 700;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin: 0 0 10px 0;
		padding-top: 20px;
		font-size: 1.4em;
	}
} 

.bl-content > ul {
	list-style: none;
	padding: 0;
	margin: 0;
} 

.bl-content > ul li {
	display: inline-block;
	width: 20%;
	margin: 1%;
}

.bl-content > ul li a img {
	display: block;
	max-width: 100%;
}

/* Transition classes and properties */

.bl-main > section {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.bl-main > section.bl-expand {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.bl-main > section.bl-expand-top {
	z-index: 100;
}

.bl-main > section:first-child.bl-expand {
	background: $color1light;
}
.bl-main > section:nth-child(2).bl-expand {
	background: $color2light;
}
.bl-main > section:nth-child(3).bl-expand {
	background: $color3light;
}
.bl-main > section:nth-child(4).bl-expand {
	background: $color4light;
}

.bl-main.bl-expand-item > section:not(.bl-expand),
.bl-main.bl-expand-item > section.bl-scale-down {
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0;
}

.bl-box {
	-webkit-transition: opacity 0.2s linear 0.5s;
	-moz-transition: opacity 0.2s linear 0.5s;
	transition: opacity 0.2s linear 0.5s;
}

// Fade out Section Landing content
section.bl-expand .bl-box {
	opacity: 0;
	-webkit-transition: opacity 0s linear;
	-moz-transition: opacity 0s linear;
	transition: opacity 0s linear;
}


// Raise Section Landing h2
.bl-box h2 {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.no-touch section:not(.bl-expand) .bl-box:hover h2 {
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	transform: translateY(-15px);
}

// Animation to fade in and fade out/close section content
section.bl-expand .bl-content,
section.bl-expand .bl-icon-close {
	pointer-events: auto;
	opacity: 1;
	-webkit-transition: opacity 0.3s linear 0.5s;
	-moz-transition: opacity 0.3s linear 0.5s;
	transition: opacity 0.3s linear 0.4s;
}

/* Transition classes and properties */

.bl-main > section {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.bl-main > section.bl-expand {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.bl-main > section.bl-expand-top {
	z-index: 100;
}

.bl-main > section:first-child.bl-expand {
	background: $color1light;
}
.bl-main > section:nth-child(2).bl-expand {
	background: $color2light;
}
.bl-main > section:nth-child(3).bl-expand {
	background: $color3light;
}
.bl-main > section:nth-child(4).bl-expand {
	background: $color4light;
}

.bl-main.bl-expand-item > section:not(.bl-expand),
.bl-main.bl-expand-item > section.bl-scale-down {
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0;
}

.bl-box {
	-webkit-transition: opacity 0.2s linear 0.5s;
	-moz-transition: opacity 0.2s linear 0.5s;
	transition: opacity 0.2s linear 0.5s;
}

// Fade out Section Landing content
section.bl-expand .bl-box {
	opacity: 0;
	-webkit-transition: opacity 0s linear;
	-moz-transition: opacity 0s linear;
	transition: opacity 0s linear;
}


// Raise Section Landing h2
.bl-box h2 {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.no-touch section:not(.bl-expand) .bl-box:hover h2 {
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	transform: translateY(-15px);
}

// Animation to fade in and fade out/close section content
section.bl-expand .bl-content,
section.bl-expand .bl-icon-close {
	pointer-events: auto;
	opacity: 1;
	-webkit-transition: opacity 0.3s linear 0.5s;
	-moz-transition: opacity 0.3s linear 0.5s;
	transition: opacity 0.3s linear 0.4s;
}

///// MEDIA QUERIES

@media screen and (max-width: 46.5em) {
	.bl-content,
	.bl-box {
		font-size: 75%;
	}

	.bl-expand .bl-box {
		height: 130px;
	}

	.bl-content > ul li {
		width: 40%;
	}
}