header {
  background: $gradient;
  width: 100%;
}

.header-content-container {
  @include flex-column;
  margin: 0 auto;
  width: 50%;
  
  @include bp(tablet) {
    width: 80%;
  }
}

.headings {
  @include flex-column;
  position: relative;
  width: 100%;
  z-index: 300;

  @include bp(tablet) {
    width: 100%;
  }

  h1 {
    color: $black;
    font-family: $body-font2;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 5px;
    position: relative;
    text-align: center;
    top: 5px;
    width: 100%;

    @include bp(mobile) {
      font-size: 1rem;
    }
  }

  h2 {
    color: $white;
    font-family: $body-font;
    font-size: 1.5rem;
    letter-spacing: 5px;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
    text-shadow: $shadow 1px 1px,
      $shadow 2px 2px,
      $shadow 3px 3px,
      $shadow 4px 4px;
      width: 100%;

      @include bp(tablet) {
        font-size: 1.3rem;
      }

      @include bp(mobile) {
        font-size: 1rem;
      }

      &:last-child {
        margin-top: -15px;
      }
  }
}

	.whole-head {
    display: flex;
    flex-direction: column;

    @include bp(desktop1) {
      margin: 0 auto;
    }
  
    @include bp(tablet) {
      margin: 0 auto;
    }

    @include bp(tablet) {
        margin: 0 auto;
    }

    @include bp(mobile) {
      margin: 0 auto;
    }

    #head-image {
      margin: 8px auto auto auto;
      width: 190px;
    }

    #top-head {
      z-index: 500;
      position: relative;
      top: 19px;
    }

    #bottom-head {
      z-index: 1;
    }
  }
  
  .about-me-info {
    margin: 0 auto 0 auto;
    text-align: center;
    width: 80%;

    @include bp(tablet) {
      width: 100%;
    }

    p {
      color: $black;
      font-family: $body-font2;
      font-size: 1.5rem;
      font-weight: 50;

      @include bp(mobile) {
        font-size: 1.2rem;
      }

      @include bp(small-mobile) {
        font-size: 1rem;
      }
    }
  }