header {
  height: 100vh;
  width: 40%;
  background-color: #ffff;
 
}

.headings {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 50px;

  h1 {
    text-align: left;
    font-family: 'Caveat', cursive;;
		font-size: 1.2rem;
		width: 100%;
  }

  h2 {
    font-family: 'Bungee Shade', cursive;
    font-size: 1.2rem;
    width: 100%;
    margin-top: 0;
  }
}

	.head-image {
    position: relative;
    margin: 0 auto;
		top: 25px;
    left: 100px;
    width: 100%;

    .toggle-head {
      width: 200px;
    }
  }
  
  .about-me-info {
    text-align: left;
    width: 90%;
    margin: 50px auto 0 auto;

    p {
      font-size: 1.3rem;
      font-family: 'Caveat', sans-serif;
      color: black;
    }
  }

