.know-learn-section {
  height: 100vh;
  width: 100%;
  background: $white;
  padding-top: 1px;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;

  @include bp(desktop1) {
    height: 100vh;
    width: 100%;
  }

  @include bp(tablet) {
    height: 100%;
    margin: 0 auto;
    width: 100%;
  }

  @include bp(mobile) {
    display: block;
    height: 100%;
    margin: 0 auto;
    width: 100%;
  }
}

.list {
  h1 {
    font-family: $body-font;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    color: $black;

    @include bp(desktop1) {
      font-size: 1rem;
      padding: 5px;
      margin-right: 20px;
    }

    @include bp(tablet) {
      font-size: 1rem;
      padding: 5px;
      margin-right: 20px;
    }

    @include bp(mobile) {
      font-size: 1rem;
      padding: 5px;
      margin-right: 20px;
    }
  }
}

.badge-entry {
  text-align: center;
}

.badges {
  width: 70px;
  margin: 10px auto;
  text-align: center;

    @include bp(mobile) {
      display: none;
    }
}

.badge-name {
  margin: 5px auto 20px auto;
  color: $black;
    @include bp(desktop1) {
      font-size: 0.9rem;
      margin: 5px auto 10px 10px;
    }

    @include bp(mobile) {
     font-size: 0.8rem;
      margin: 5px auto 10px 10px;
    }
}

#firebase-icon {
  width: 45px;
}

#react-redux-icon {
  width: 60px;
}

#cypress-badge {
  width: 90px;
}

#nodejs-badge {
  width: 70px;
}

#python-badge {
  width: 70px;
}




