/* white circles */
.flickity-page-dots {
    width: 100%;
    margin: 0 auto;
    position: relative;
    bottom: 90px;

}

.flickity-page-dots .dot {
    width: 20px;
    height: 20px;
    opacity: 1;
    background: transparent;
    border: 2px solid black;

}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: yellow;
    transition: 0.5s ease-in-out;
}

.progress-bar {
    height: 20px;
    width: 0;
    background: green;
}