.nav-bar {
    position: absolute;
    right: 0;
    width: 300px;
    height: 100px;
    margin: 0;
    padding: 0;
    z-index: 1000000;

    // .nav-links {
    // //   position: absolute;
    //   top: 5px;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: space-between;
    //   align-items: flex-end;
    //   text-transform: uppercase;
    //   padding-bottom: 15px; 
    //   position: relative;
    // };
}; 

.test-ham {
    background: none;
    border: none;
    color: black;
    display: inline-block;
    font-size: 5px;
}

.nav-links a {
    cursor: pointer;
    position: relative;
    display:inline-block;
    padding:5px 10px;
    text-align: center;
    text-decoration: none;
    color: $secondary-color;

    &:active {
        background: $primary-color;
    }
};

.custom-underline::after {
    content: "";
    position: absolute;
    border-radius: 10px;
}

.highlight-link {
    border: 3px solid red;
}
.nav-section .custom-underline::after {
    top: 80%;
    left: 0;
    right: 0;
    height: 4px;
    width: 0%;
    background-color: $secondary-color;
    transition: 0.5s ease all .3s;
}

.nav-section:hover .custom-underline::after {
    width: 100%;
    transition: 0.3s ease all;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

.nav-scroll {
    position: fixed;
    height: 80px;
    z-index: 10;
    background: rgba(40, 48, 68, 0.4);
    color: $quinary-color;
    animation: fade-in 0.5s;
}

// HAMBURGER MENU


