.projects-section {
  height: 100vh;
  width: 100%;
}

.carousel {
  // padding: 1px;
  height: 100vh;
  // background: grey;
  position: relative;
    padding-top: -1px;
}

.portfolio-piece {
  width: 100%;
  height: 100%;
  /* center images in cells with flexbox */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#planted-site {
  position: relative;
  z-index: -1;
 background-image: linear-gradient(to right, #eae6e1, #f5e1b1, #ede182, #d4e552, #a8eb12);

  
  h2 {
    color: green;
  }
}

#budget-site {
  background-image: linear-gradient(to bottom, #eae6e1, #abaca5, #6e756f, #364240, #021517);
}

#giphy-site {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.project-image {
  width: 500px;
  // height: 100%;
  border-radius: 10% 10%;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

.project-img-link {
  position: relative;
  bottom: 150px;
}

.project-heading{
  position: relative;
  bottom: 100px;

  h2 {
  font-family: 'Fjalla One', cursive;
  font-size: 3rem;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  letter-spacing: 6px;
  text-shadow: 
    $shadow 0.25px 0.25px,
    $shadow 0.5px 0.5px,
    $shadow 1px 1px,
    $shadow 2px 2px,
    $shadow 3px 3px,
    $shadow 4px 4px,
    $shadow 5px 5px;
  } 
}

.expense-heading {
  position: relative;
  top: 30px;
}

.project-text {
  position: relative;
  top: 20px;
  right: 50px;
  color: black;

  p {
    font-family: 'Fjalla One', sans-serif;
  }
}



#budget-text {
  width: 20%;
}

  .project-badges {
    width: 50px;
    position: absolute;
    bottom: 100px;
    left: 170px;
    display: flex;
  }

  .badges {
    margin-right: 10px;
  }

.github-for-project {
  position: absolute;
  top: 300px;
  width: 100px;
}

