.projects-section {
  padding: 1px;
  height: 100vh;
  background: $tertiary-color;
  position: relative;

  h2 {
    font-family: $heading-font;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 0;
    font-size: 1.5rem;
    color: $secondary-color;
  }
}

.projects-triptych {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  span {
    color: #ffffff;
  }
}

.project-image {
  width: 500px;
  position: relative;
  top: 100px;
}
// .hi-2 {
//   overflow: scroll;
// }

.skills-section {
  background: $tertiary-color;
  padding: 1px;
  text-align: center;

}

.skills-gallery {
  width: 100px;
  position: relative;
  bottom: 200px;
  right: 60px;

  img {
    width: 40px;
  }
}

.badges{
  display: none;
  margin: 10px auto;
}

