.skills-section {
    background: $tertiary-color;
    padding: 1px;
    text-align: center;
    position: relative;
    @include square-texture;

    h2 {
        font-family: $heading-font;
        font-weight: bold;
	    color: $secondary-color;
        width: 100%;
        margin: 40px auto 70px auto;
    }
}

.skills-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px 200px;
    grid-gap: 80px;

    img {
    	width: 45%;
		color: white;
    }

    p {
		color: $secondary-color;
    }
}

.firebase-icon {
    img {
        width: 40%;
    }
}
