// COLOURS //
$color1: #293F14;
$color2:#BF1363;
$color3: #0C6492;
$color4: #15151D;
$color1light: #4F613E;
$color2light: #CA3D7F;
$color3light: #0E79B2;
$color4light: #191923;

$black: #000000;
$white: #ffffff;
$ghostwhite: 	#f8f8ff;

// FONTS //
$body-font: 'Oswald', sans-serif;
$body-font2: 'Montserrat', sans-serif;


/// Base style media queries //

@media screen and (max-width: 744px) {
	.section-content,
	.colored-box {
		font-size: 75%;
	}

	.bl-expand .colored-box {
		height: 130px;
	}

	.section-content > ul li {
		width: 40%;
	}
}

// Mobile queries //
@mixin bp($class) {
  @if $class == mobile {
    @media (max-width: 586px) {
      @content;
    }
  } @else if $class == sm-mobile {
    @media (max-width: 474px) {
      @content;
    }
  }
}