// COLOURS //

$black: #000000;
$white: #ffffff;
$red: #FF0000;
$bgColor: #F5F5F5;
$color1: #43655A;
$shadow: #533d4a;
$gradient: linear-gradient(45deg, #43655A, #608080, #849BA2, #ACB7C0, #D2D5DB, #F5F5F5);


// FONTS //
$heading-font: 'Fjalla One',
sans-serif;
$body-font: 'Raleway', sans-serif;
$body-font2: 'Caveat',
cursive;

// MEDIA QUERY VARIABLES //

@mixin bp ($class) {
    @if $class == desktop2 {
        @media (max-width: 2160px) { @content; }
    }

    @else if $class == desktop1 {
        @media (max-width: 1312px) { @content; }
    }

    @else if $class == tablet {
        @media(max-width: 1000px) { @content; }
    }

    @else if $class == mobile {
        @media(max-width: 586px) { @content; }
    }

    @else if $class==small-mobile {
        @media(max-width: 474px) {
            @content;
        }
    }
}

   