article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  position: absolute;
  border: 0;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black; }

.skip-link:focus {
  left: 0; }

html {
  font-size: 125%;
  line-height: 1.2; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  margin: 0; }

.carousel:after {
  content: 'flickity';
  display: none; }

.split-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%; }

img {
  max-width: 100%; }

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

a {
  color: white;
  text-decoration: none; }

h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 4rem;
  letter-spacing: 2px;
  color: black; }

p {
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif; }

.inner-wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto; }

.footer-text {
  background: #2A2831;
  color: #ffff; }

.hidden {
  display: none; }

.project-hidden {
  display: none; }

.project-reveal {
  display: block; }

.visible {
  display: inline; }

header {
  height: 100vh;
  width: 40%;
  background: #200f49; }

.headings {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  left: 50px; }
  .headings h1 {
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 1.2rem;
    width: 100%;
    color: white;
    letter-spacing: 5px; }
  .headings h2 {
    font-family: 'Fjalla One', cursive;
    font-size: 1.5rem;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    color: lightblue;
    letter-spacing: 5px;
    text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px; }

.head-image {
  position: relative;
  margin: 0 auto;
  top: 25px;
  left: 10px;
  width: 38%; }
  .head-image .toggle-head {
    width: 200px; }

.about-me-info {
  text-align: left;
  width: 80%;
  margin: 50px auto 0 auto;
  overflow-wrap: normal; }
  .about-me-info p {
    font-size: 1.3rem;
    font-family: 'Caveat', sans-serif;
    color: white;
    font-weight: 50; }

.skills-gallery {
  width: 100%;
  position: absolute;
  top: 50px;
  right: 80px;
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-gap: 5px; }

.gallery-badges {
  width: 40px; }

.projects-section {
  height: 100vh;
  width: 100%; }

.carousel {
  height: 100vh;
  position: relative;
  padding-top: -1px; }

.portfolio-piece {
  width: 100%;
  height: 100%;
  /* center images in cells with flexbox */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

#planted-site {
  position: relative;
  z-index: -1;
  background-image: -webkit-gradient(linear, left top, right top, from(#eae6e1), color-stop(#f5e1b1), color-stop(#ede182), color-stop(#d4e552), to(#a8eb12));
  background-image: -webkit-linear-gradient(left, #eae6e1, #f5e1b1, #ede182, #d4e552, #a8eb12);
  background-image: -o-linear-gradient(left, #eae6e1, #f5e1b1, #ede182, #d4e552, #a8eb12);
  background-image: linear-gradient(to right, #eae6e1, #f5e1b1, #ede182, #d4e552, #a8eb12); }
  #planted-site h2 {
    color: green; }

#budget-site {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eae6e1), color-stop(#abaca5), color-stop(#6e756f), color-stop(#364240), to(#021517));
  background-image: -webkit-linear-gradient(top, #eae6e1, #abaca5, #6e756f, #364240, #021517);
  background-image: -o-linear-gradient(top, #eae6e1, #abaca5, #6e756f, #364240, #021517);
  background-image: linear-gradient(to bottom, #eae6e1, #abaca5, #6e756f, #364240, #021517); }

#giphy-site {
  background: -webkit-linear-gradient(315deg, #f5f7fa 0%, #c3cfe2 100%);
  background: -o-linear-gradient(315deg, #f5f7fa 0%, #c3cfe2 100%);
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); }

.project-image {
  width: 500px;
  border-radius: 10% 10%;
  cursor: pointer;
  position: relative;
  z-index: 100; }

.project-img-link {
  position: relative;
  bottom: 150px; }

.project-heading {
  position: relative;
  bottom: 100px; }
  .project-heading h2 {
    font-family: 'Fjalla One', cursive;
    font-size: 3rem;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    letter-spacing: 6px;
    text-shadow: #533d4a 0.25px 0.25px, #533d4a 0.5px 0.5px, #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px, #533d4a 5px 5px; }

.expense-heading {
  position: relative;
  top: 30px; }

.project-text {
  position: relative;
  top: 20px;
  right: 50px;
  color: black; }
  .project-text p {
    font-family: 'Fjalla One', sans-serif; }

#budget-text {
  width: 20%; }

.project-badges {
  width: 50px;
  position: absolute;
  bottom: 100px;
  left: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.badges {
  margin-right: 10px; }

.github-for-project {
  position: absolute;
  top: 300px;
  width: 100px; }

.contact-container {
  width: 80%;
  line-height: 1.2;
  position: relative;
  top: 50px; }
  .contact-container img {
    width: 50px; }
  .contact-container .linkedin-logo {
    width: 60px; }

.twitter-logo {
  border-radius: 10%; }

.contact-link a :hover {
  -webkit-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease; }

.contact-methods li {
  font-size: 2rem;
  padding: 0 10px;
  cursor: pointer; }

/* white circles */
.flickity-page-dots {
  width: 100%;
  margin: 0 auto;
  position: relative;
  bottom: 90px; }

.flickity-page-dots .dot {
  width: 20px;
  height: 20px;
  opacity: 1;
  background: transparent;
  border: 2px solid black; }

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: yellow;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; }

.progress-bar {
  height: 20px;
  width: 0;
  background: green; }

.footer-text {
  font-size: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  background: black;
  padding-bottom: 3px; }
  .footer-text .copyright {
    padding-right: 20px;
    font-weight: bold; }
  .footer-text .photo-credit {
    font-size: 0.5rem;
    font-weight: bold; }
